br
.keypad
      //- tapa la sombra excedente de los circulos
      .keypad__inner
        .keypad__title Sequence Drop
        br
        .keypad__subtitle NFT Entertaiment system

        .central-button-container.select
          .central-button
          p Select
        .central-button-container.start
          .central-button
          p Start

      .pad-left
        .cross-x
        .cross-middle

      .pad-right

        .circular-button.a-button
        .circular-button.b-button
        .circular-button.x-button
        .circular-button.y-button
        .ab-container.circular-button-container
        .xy-container.circular-button-container

      .l-button.top-button
      .r-button.top-button
      .wire